@using Library.Core.Models;
@model List<Book>

<header class="text-center">
    <h1 id="title">Bookings</h1>
    <h3 id="subtitle">View all bookings</h3>
</header>

<main class="text-center">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Price</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Year</td>
                    <td>@book.Price</td>
                    <td>@book.Pages</td>
                </tr>
            }
        </tbody>
    </table>
</main>