@using Library.Core.Models;
@using Library.Data.Repos;
@model List<Book>

<h1 class="text-center text-danger">Make a loan</h1>
<h3 class="text-center">Select the book you want to loan</h3>

<table class="table table-success table-striped text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Price</th>
            <th>Informations</th>
            <th>Loan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Year</td>
                <td>@book.Price</td>
                <td>
                    <!-- TODO: add asp-action attribute -->
                    <a class="btn btn-info">More informations</a>
                </td>
                <td>
                    <a asp-action="Loan" class="btn btn-success" asp-route-id="@book.Id">Loan book</a>
                </td>
            </tr>
        }
    </tbody>
</table>