@using Library.Core.Models;
@model List<Book>;

<h1 class="text-center text-danger">Welcome @ViewBag.UserName</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Price</th>
            <th>Pages</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Year</td>
                <td>@book.Price</td>
                <td>@book.Pages</td>
                <td>
                    <form asp-action="TryLoanBook" method="post">
                        <input type="hidden" name="userId" value="@ViewBag.UserId"/>
                        <input type="hidden" name="bookId" value="@book.Id"/>
                        <button type="submit" class="btn btn-success">Loan this book</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>